.breadcrumbs-links {
    font-size: 14px;
    line-height: 19px;
    color: #222222;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    margin-right: 29px;
    position: relative;
    &:hover {
        color: #245DEE;
            transition: all 0.3s ease-in-out;
    }

    &:not(:last-child):after {
        position: absolute;
        content: '';
        top: 57%;
        height: 1px;
        background-color: #222222;
        width: 11px;
        right: -21px;
    }

    &.last {
        color: #245DEE
    }
}

.breadcrumbs {

    margin-top: 40px;
    margin-bottom: 40px;

}



